/*
    Stylesheet for formatting some Form Elements.
*/

/* For Things relating to getting info, or small forms */
/* Note that the HTML must be styled in a specific way for this to work */

:root {
    --header-background-color: black;
    --header-text-color: white;
}

form.info {
    border: 0px;
    padding: 0px;
    margin: 1em 0px 1em 0px;
}

form.info div.head {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 8px;
    border: 0px;
}

form.info div.body {
    border-left: 1px solid var(--form-border-color);
    border-bottom: 1px solid var(--form-border-color);
    border-right: 1px solid var(--form-border-color);
    border-top: 0px;
    padding: 1em;
}

form.info div.head h1 {
    font-family: bold;
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: white;
}

form.info div.body fieldset {
    border: 0px;
    padding: 0px;
    margin: 8px 0px;
    /*border-left: 5px solid rgba(0,0,0,0);*/
}

form.info div.body fieldset.required label::after {
    content: "*";
    color: var(--form-label-color-light);
    text-decoration: bold;
}

@media only screen and (prefers-color-scheme: dark) {
    form.info div.body fieldset.required label::after {
        color: var(--form-label-color-dark);
    }
}

form.info div.body fieldset.error {
    color: black;
}

form.info div.body fieldset.error label {
    color: var(--form-error-color);
}

form.info div.body fieldset.error .errors {
    color: var(--form-error-color);
}

form.info div.body p {
    margin: 0px 0px 1em 0px;
    color: var(--form-label-color-light);
}

@media only screen and (prefers-color-scheme: dark) {
    form.info div.body p {
        color: var(--form-label-color-dark);
    }
}

form.info label {
    font-family: semibold;
}
/* END Small Forms */
