/* Styling for Header and Title */

/* @TODO Turn the <header> into a class */

:root {
    
}

/* Header Block: Title and Menu */
header {
    /* box-shadow: 0px 5px 10px #555; */
    /* margin: 0px 0px 10px 0px; */
    color: white;
}

/* Title Section */
header div.title {
    height: 25%;
    text-align: center;
    font-family: title;
    /*margin: 0px;*/
    padding: 5px 0px;
    color: white;
    overflow: hidden;
}

header div.title p {
    font-family: menu;
    font-size: 24px;
    color: #ccc;
}

header div.title h1 {
    font-family: title;
    padding: 0px;
    margin: 0px;
    font-size: 64px;
}

header div.title .garnet {
    color: #73000a;
}

header div.title .blue {
    color: #2682A6;
}

header div.title .black {
    color: black;
}

/* Menu section */

/* TODO Make the item alignment be in columns if in portrait mode and small */
header div.menu ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: center;
    /* Make Elements Evenly Spaced*/
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    header div.menu ul {
        flex-direction: column;
    }
    header div.menu ul.right {
        right: auto;
    }
}

header div.menu {
    height: 100%;
    display: block;
    background-color: #002C3D;
    font-size: 20px;
    font-family: menu;
}

/* Links in the Menu */
header li > a {
    padding: 10px 0px;
    border-bottom: 5px solid #002C3D;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Menu Elements */
header li {
    /*float: left;*/
    width: 100%; /* [was 20%] If new items added, change this */
}

header li :not(a) {
    display: block;
    color: gray;
    padding: 10px 0px;
}

header ul li .current {
    background-color: #004966;
    border-bottom: 5px solid #BBE524;
}

header ul li a:link {
    color: white;
}

header ul li a:visited {
    color: white;
}

header ul li a:hover {
    color: white;
    background-color: #111111;
    border-bottom: 5px solid #F0F7D4;
}

header ul li a:active {
    color: white;
}

/* Dropdown Hover Menus */
header div.menu .dropdown {
    /*color: blue;*/
}

/* Keep Hover Effect Active while the Menu is open */
header div.menu .dropdown:hover {
    color: white;
    background-color: #111111;
}
/* Fix for Link Glitch */
header div.menu .dropdown:hover > a {
    color: white;
    background-color: #111111;
    border-bottom: 5px solid #111111;
}

/* Makes the Drop-down Menu Appear */
header div.menu .dropdown:hover .dropdownContent {
    display: block;
}

header div.menu .dropdownContent {
    display: none; /*none*/
    position: absolute;
    z-index: 1;
    background-color: #F0F7D4;
    min-width: 20%; /* Should change if Menu Element # changes */
    min-height: 15px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.3);
    text-align: left;
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 767px) {
    header div.menu .dropdownContent {
        min-width: 100%;
        display: block; /* Currently Display them since it is hard to tap */
        position: relative;
        z-index: 0;
        box-shadow: none;
        text-align: center;
    }
    header div.menu .dropdownContent.right {
        right: auto;
    }
}

/* Correctly Aligns the Rightmost menu so that it doesn't cause horizontal scrolling */
header div.menu .dropdownContent.right {
    right: 0;
}

header.sidebar div.menu .dropdownContent {
    min-width: 100%;
}

/* Selects any Element in the drop-down menu */
header div.menu .dropdownContent * {
    margin: 0px;
    padding: 10px 0px;
    color: black;
    font-family: menu;
    font-size: 15px;
    display: block;
    border-bottom: 0px;
    border-left: 5px solid rgba(0,0,0,0.0);
}

header div.menu .dropdownContent a {
    text-decoration: none;
}

header div.menu .dropdownContent a:hover {
    background-color: #e2efa9;
    border-left: 5px solid black;
    border-bottom: 0px;
}

/* Oneline Header */
header.oneline {
    box-shadow: none;
    margin: 0px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-right: 1em;
    z-index: 1;
}

@media only screen and (max-width: 767px) {
    header.oneline {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }
}

/* Make it above the First Flashcard */
header.oneline.abs {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    margin: 0px;
}

header.oneline.abs div {
    position: static;
}

header.oneline.abs div.title {
    margin-left: 1em;
}

header.oneline.abs div.menu {
    margin-right: 1em;
    color: white;
}

header.oneline.abs ul li .current {
    background-color: #F0F7D440 !important;
}

header.oneline.abs ul li a:hover {
    background-color: #dddddd40 !important;
}

header.oneline.abs div.menu .dropdown:hover {
    color: black;
    background-color: #dddddd40;
}

header.oneline.abs div.menu .dropdown:hover > a {
    color: black;
    background-color: #dddddd40;
}

header.oneline div.menu .dropdownContent * {
    color: black !important;
}

/* END Absolute Positioning */

/* Start Header Light/Dark Stylings */

header.oneline.light div.title h1 span.black {
    color: white !important;
}

header.oneline.light li > a {
    border-bottom: 5px solid #eee;
    color: white !important;
}

header.oneline.light li :not(a) {
    color: #ddd !important;
}

/* END Header Light/Dark Colorings */

/* Title Section of Header */
header.oneline div.title {
    text-align: center;
    font-family: title;
    font-size: 30px;
    margin: 0px;
    padding: 5px 0px;
    color: black;
    width: 30%;
}

@media only screen and (max-width: 767px) {
    header.oneline div.title {
        width: 100%;
    }
}

header.oneline div.title h1 {
    padding: 0px;
    margin: 0px;
}

header.oneline div.title h1 span.color1 {
    color: #2682A6;
}

header.oneline div.title h1 span.color0 {
    color: black;
}

/* Menu section of Header */

header.oneline div.menu {
    display: block;
    background-color: transparent;
    font-size: 20px;
    font-family: menu;
    width: 70%;
    height: auto;
    margin: auto;
}

@media only screen and (max-width: 767px) {
    header.oneline div.menu {
        width: 100%;
    }
}

header.oneline div.menu ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: center;
    /* Make Elements Evenly Spaced*/
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

/* Links in the Menu */
header.oneline li > a {
    padding: 10px 0px;
    border-bottom: 5px solid #111;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

/* Menu Elements */
header.oneline li {
    float: left;
    width: 100%; /* [was 20%] If new items added, change this */
}

header.oneline li :not(a) {
    display: block;
    color: gray;
    padding: 10px 0px;
}

header.oneline ul li .current {
    background-color: #F0F7D4;
    border-bottom: 5px solid #BBE524;
}

header.oneline ul li a:link {
    color: black;
}

header.oneline ul li a:visited {
    color: black;
}

header.oneline ul li a:hover {
    color: black;
    background-color: #ddd;
    border-bottom: 5px solid #002C3D;
}

header.oneline ul li a:active {
    color: white;
}

header.oneline div.menu .dropdown:hover {
    color: black;
    background-color: #ddd;
}

header.oneline div.menu .dropdown:hover > a {
    color: black;
    background-color: #ddd;
}

/* END Header Modifications */

/* Header as a Sidebar */
header.sidebar {
    width: 20%;
    z-index: 1;
    position: fixed;
    height: 100%;
    background: rgb(32,32,32);
    background: radial-gradient(circle, rgba(32,32,32,1) 0%, rgba(17,17,17,1) 100%);
}

header.sidebar div.menu ul {
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

