/* 
    Legacy Features from v1.0 of WebTemplate.
    These need to be removed eventually.
*/

/* From main.css */

main .title {
    margin: 0px;
    padding: 0px;
    font-size: 4rem;
    border-left: 0px;
    font-family: bold;
}