/*
    Main Stylesheet for WebTemplate 2
   
    This Stylesheet has no dependencies on other stylesheets

    Contains the following:
        - Fonts
        - Colors
        - Boilerplate
            - H1-6, P, A, etc.
            - Table
            - Form Elements
 */

/* Fonts */

@font-face {
    font-family: title;
    src: url('/font/LeagueMono-ExtraBold.woff2');
}

@font-face {
    font-family: menu;
    src: url('/font/LeagueMono-Regular.woff2');
}

@font-face {
    font-family: bold;
    src: url('/font/LeagueMono-Bold.woff2');
}

@font-face {
    font-family: light;
    src: url('/font/LeagueMono-Light.woff2');
}

@font-face {
    font-family: medium;
    src: url('/font/LeagueMono-Medium.woff2');
}

@font-face {
    font-family: semibold;
    src: url('/font/LeagueMono-SemiBold.woff2');
}

@font-face {
    font-family: thin;
    src: url('/font/LeagueMono-Thin.woff2');
}

@font-face {
    font-family: ultralight;
    src: url('/font/LeagueMono-UltraLight.woff2');
}

/* Color Variables */

:root {
    /* ===Default Color Vars=== */
    /* These are the Default Colors Provided and used in the Template. They are here for backwards compatibility */
    --off-white: #F0F7D4;
    --green: #BBE524;
    --red: #FF230F;
    --blue: #2682A6;
    --orange: #fb9902;
    --dark-blue: #002C3D;
    --light-blue: #004966;
    /* For Warning Boxes */
    --warn-yellow: #ffc30f;
    --warn-bright-yellow: #fff9e6;
    --warn-red: #ffd0cc;
    /* For Tags */
    --faint-green: #dcf28d;
    --faint-red: #ff8a80;
    --faint-blue: #97d1e7;
    --faint-orange: #fecc81;
    /* For Link Selection */
    --lighter-blue: #82c7e3;
    --lighter-green: #ceec5f;
    /* Other Colors, not in scheme */
    --usc-garnet: #73000a;
    --acm-blue: #0492d2;
    /* Greys */
    --grey-1: #111;
    --grey-2: #222;
    --grey-3: #333;
    --grey-5: #555;
    --grey-80: #808080;
    /* ===General Color Vars=== */
    /* These Color Vars will determine the other Functional Colors Below */
    /* Accent Colors */
    /* These include spots for HSL Colors, which are also used for generating gradients and shades of these colors. HTML Color Codes are also provided. */
    --accent-1: #BBE524;
    --accent-1-h: 73;
    --accent-1-s: 79%;
    --accent-1-l: 52%;
    --accent-1: hsl(var(--accent-1-h), var(--accent-1-s), var(--accent-1-l));
    --accent-2: #FF230F;
    --accent-2-h: 5;
    --accent-2-s: 100%;
    --accent-2-l: 53%;
    --accent-2: hsl(var(--accent-2-h), var(--accent-2-s), var(--accent-2-l));
    --accent-3: #2682A6;
    --accent-3-h: 197;
    --accent-3-s: 63%;
    --accent-3-l: 40%;
    --accent-3: hsl(var(--accent-3-h), var(--accent-3-s), var(--accent-3-l));
    --accent-4: #fb9902;
    --accent-4-h: 36;
    --accent-4-s: 98%;
    --accent-4-l: 50%;
    --accent-4: hsl(var(--accent-4-h), var(--accent-4-s), var(--accent-4-l));
    --dark-color: #002C3D;
    --dark-color-h: 197;
    --dark-color-s: 100%;
    --dark-color-l: 12%;
    --dark-color: hsl(var(--dark-color-h), var(--dark-color-s), var(--dark-color-l));
    --light-color: #F0F7D4;
    --light-color-h: 72;
    --light-color-s: 69%;
    --light-color-l: 90%;
    --light-color: hsl(var(--light-color-h), var(--light-color-s), var(--light-color-l));
    /* ===Functional Colors===*/
    /* These Colors are generated feom the HSL Values given above. They may optionally be changed with a static color too if needed */
    /* Background Colors (Can change depending on user Light/Dark Mode Preference) */
    --light-background: white;
    --dark-background: var(--dark-color);
    /* Link Colors */
    --link-normal: hsl(var(--accent-1-h), var(--accent-1-s), 35%);
    /* #81a013 */
    --link-highlight: var(--accent-1);
    /* Text Decoration Colors */
    --highlight: #ffff00;
    --hightlight-text-color: black;
    --light-text-color: black;
    /* Light Color Scheme */
    --dark-text-color: white;
    /* Dark Color Scheme */
    --light-header-color: black;
    /* Light Color Scheme */
    --light-header-bar-color: #333;
    --dark-header-color: white;
    /* Dark Color Scheme */
    --dark-header-bar-color: #aaa;
    --hr-color: #999;
    /* Table Colors */
    --table-caption-bg: #999;
    --table-caption-text: white;
    --table-head-bg: var(--dark-color);
    --table-head-text: white;
    --table-n0-row-bg: #eee;
    --table-n1-row-bg: white;
    --table-row-hightlight: var(--light-color);
    --table-row-text: black;
    --table-footer-bg: white;
    --table-footer-text: var(--accent-3);
    /* Other Tags */
    --blockquote-bar-color: #555;
    --blockquote-bg-color: #eee;
    --blockquote-text-color: black;

    --figure-bg-color: var(--dark-color);
    --figure-fg-color: white;
    --figure-figure-color: #ccc;

    --form-legend-bg-color: black;
    --form-legend-text-color: white;
    --form-border-color: #aaa;
    --form-error-color: #ff0000;
    --form-submit-color: var(--accent-1);
    --form-submit-text-color: white;
    --form-button-color: #333;
    --form-button-hover-color: #aaa;
    --form-button-text-color: white;
    --form-text-input-border-color: #ccc;
    --form-text-input-focused-border-glow-color: var(--accent-1);
    --form-text-input-color: white;
    --form-text-input-text-color: black;
    --form-disabled: #999;
    --form-label-color-light: #333;
    --form-label-color-dark: #ccc;

}

/* HTML Tags */

body {
    margin: 0px;
    background-color: var(--light-background);
    color: var(--light-text-color);
    font-family: light;
}

@media only screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-background);
        color: var(--dark-text-color);
    }
}

/* Content Block */

main {
    min-height: 80vh;
    /* Note: 1vh ~= 1% viewport Height */
    margin: 0px 0px;
    font-family: light;
}

main.sidebar {
    margin-left: 20%;
}

/* Use this to Center Items */

.container {
    margin: 0% 20%;
    overflow: auto;
    width: 60%;
}

/* Makes Margins Smaller for Mobile Screens */

@media only screen and (max-width: 767px) {
    .container {
        margin: 0% 1%;
        width: 98%;
    }
}

/* Specific Printing Rules */

@media only print {
    .container {
        margin: 0;
        width: 100%;
        overflow: hidden;
    }
    hr {
        background-color: #aaa;
    }
    .hide-for-print {
        display: none !important;
    }
}

/* Header Decorations */

h1 {
    margin: 10px 0px;
    font-family: semibold;
    color: var(--light-header-color);
    /* border-left: 5px solid #333333; */
    /* padding: 1px 1px 1px 10px; */
}

h2 {
    margin: 5px 0px;
    font-family: semibold;
    color: var(--light-header-color);
    /* border-left: 5px solid #444444; */
    /* padding: 1px 1px 1px 10px; */
}

h3 {
    margin: 5px 0px;
    font-family: semibold;
    color: var(--light-header-color);
    /* border-left: 5px solid #555555; */
    /* padding: 1px 1px 1px 10px; */
}

h4 {
    margin: 5px 0px;
    font-family: semibold;
    color: var(--light-header-color);
    /* border-left: 5px solid #666666; */
    /* padding: 1px 1px 1px 10px; */
}

h5 {
    margin: 5px 0px;
    font-family: semibold;
    color: var(--light-header-color);
    /* border-left: 5px solid #777777; */
    /* padding: 1px 1px 1px 10px; */
}

h6 {
    margin: 5px 0px;
    font-family: semibold;
    color: var(--light-header-color);
    /* border-left: 5px solid #888888; */
    /* padding: 1px 1px 1px 10px; */
}

h1.vbar, h2.vbar, h3.vbar, h4.vbar, h5.vbar, h6.vbar {
    border-left: 5px solid var(--light-header-bar-color);
    padding-left: 5px;
}

h1.hbar, h2.hbar, h3.hbar, h4.hbar, h5.hbar, h6.hbar {
    border-bottom: 1px solid var(--light-header-bar-color);
}

.invert {
    padding-left: 5px;
}

/* Don't Invert Colors when Printing */

@media only screen {
    .invert {
        background-color: var(--light-header-color);
        color: var(--light-background);
    }
}

@media only screen and (prefers-color-scheme: dark) {
    h1, h2, h3, h4, h5, h6 {
        color: var(--dark-header-color);
    }
    h1.vbar, h2.vbar, h3.vbar, h4.vbar, h5.vbar, h6.vbar {
        border-left: 5px solid var(--dark-header-bar-color);
        padding-left: 5px;
    }
    h1.hbar, h2.hbar, h3.hbar, h4.hbar, h5.hbar, h6.hbar {
        border-bottom: 1px solid var(--dark-header-bar-color);
    }
    .invert {
        background-color: var(--dark-header-color);
        color: var(--dark-background);
    }
}

/* END Header Decorations */

p {
    margin: 10px 0px;
}

a:link, a:visited {
    color: var(--link-normal);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--link-highlight);
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: block;
}

img.blur {
    filter: blur(25px);
    -webkit-filter: blur(25px);
}

img.noresize {
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
}

/* @TODO is this used? */

img.noresize.right {
    margin-left: auto;
    margin-right: 0;
}

hr {
    border-style: solid;
    border-color: var(--hr-color);
    margin: 10px 0px;
}

hr.white {
    border-color: white;
}

/* Table Styling */

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin: 10px 0px;
    color: var(--table-row-text);
}

table caption {
    text-align: left;
    background-color: var(--table-caption-bg);
    color: var(--table-caption-text);
    font-family: light;
    padding: 5px;
    /* border-left: 5px solid #333; */
}

table tfoot {
    background-color: var(--table-footer-bg);
    color: var(--table-footer-text);
}

table tr:nth-child(even) {
    background-color: var(--table-n0-row-bg);
}

table tr:nth-child(odd) {
    background-color: var(--table-n1-row-bg);
}

table th {
    background-color: var(--table-head-bg);
    color: var(--table-head-text);
    padding: 5px;
    font-family: menu;
    font-size: 17.5px;
}

table td {
    font-family: light;
    padding: 5px;
}

table tr:hover {
    background-color: var(--table-row-hightlight);
}

/* END Table Styling */

code {
    font-family: light;
}

/* @TODO Assign Color Variables for Everything */

blockquote {
    border-left: 5px solid var(--blockquote-bar-color);
    background-color: var(--blockquote-bg-color);
    color: var(--blockquote-text-color);
    margin: 0px;
    padding: 1em 1em 1em 1em;
    font-family: light;
    font-style: italic;
}

blockquote * {
    color: var(--blockquote-text-color);
}

kbd {
    border-radius: 5px;
    border: 1px solid black;
    padding: 2.5px;
    color: black;
    background-color: white;
    font-family: light;
    min-width: 10000em;
    min-height: 3em;
}

kbd.dark {
    background-color: #111;
    color: white;
    font-family: light;
}

samp {
    font-family: thin;
}

dl dt {
    font-family: semibold;
}

/* BEGIN Text Alignment */

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

/* END Text Alignment */

/* BEGIN Content Indentation */

.indent {
    margin-left: 3em;
}

/* END Content Indentation */

/* BEGIN Explicit Color Assignment Classes */

.accent-1:not(.invert) {
    color: var(--accent-1) !important;
    border-color: hsl(var(--accent-1-h), var(--accent-1-s), 30%) !important;
}

.accent-2:not(.invert) {
    color: var(--accent-2) !important;
    border-color: hsl(var(--accent-2-h), var(--accent-2-s), 30%) !important;
}

.accent-3:not(.invert) {
    color: var(--accent-3) !important;
    border-color: hsl(var(--accent-3-h), var(--accent-3-s), 30%) !important;
}

.accent-4:not(.invert) {
    color: var(--accent-4) !important;
    border-color: hsl(var(--accent-4-h), var(--accent-4-s), 30%) !important;
}

/* Don't invert colors when printing */

@media only screen {
    .accent-1.invert {
        background-color: var(--accent-1);
        color: var(--light-background);
        border-color: hsl(var(--accent-1-h), var(--accent-1-s), 30%);
    }
    .accent-2.invert {
        background-color: var(--accent-2);
        color: var(--light-background);
        border-color: hsl(var(--accent-2-h), var(--accent-2-s), 30%);
    }
    .accent-3.invert {
        background-color: var(--accent-3);
        color: var(--light-background);
        border-color: hsl(var(--accent-3-h), var(--accent-3-s), 30%);
    }
    .accent-4.invert {
        background-color: var(--accent-4);
        color: var(--light-background);
        border-color: hsl(var(--accent-4-h), var(--accent-4-s), 30%);
    }
}

/* Dark Color Scheme Inversions */

@media only screen and (prefers-color-scheme: dark) {
    .accent-1.invert {
        background-color: var(--accent-1);
        color: var(--dark-background);
    }
    .accent-2.invert {
        background-color: var(--accent-2);
        color: var(--dark-background);
    }
    .accent-3.invert {
        background-color: var(--accent-3);
        color: var(--dark-background);
    }
    .accent-4.invert {
        background-color: var(--accent-4);
        color: var(--dark-background);
    }
}

/* END Explicit Color Assignment Classes */

details {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-family: semibold;
}

summary {
    background-color: #eee;
    color: black;
}

details[open] {
    background-color: #eee;
    color: black;
}

details[open]>*:not(summary) {
    font-family: light;
}

details[open] summary {
    background-color: black;
    color: white;
}

figure {
    margin: 5px 0px;
    padding: 0px;
    background-color: var(--figure-bg-color);
    color: var(--figure-fg-color);
}

figure .figure {
    color: var(--figure-figure-color);
    font-family: ultralight;
}

figure figcaption {
    margin: 0px;
    padding: 5px 5px 5px 20px;
    font-family: bold;
    text-align: center;
}

figure.white {
    background-color: white;
    color: #333;
    font-family: bold;
    padding: 5px;
    margin: 0;
}

figure.white figcaption {
    color: #333;
    font-family: bold;
    border-left: 0;
    text-align: center;
    padding: 0;
}

/* Default Form Styling */

/* Default Fieldset Format */

fieldset {
    border: 1px solid  var(--form-border-color);
    margin: 0px;
    padding: 1em;
}

legend {
    background-color: var(--form-legend-bg-color);
    color: var(--form-legend-text-color);
    font-family: title;
    font-size: 25px;
    padding: 0.5rem;
    text-align: center;
    margin: 0px;
    width: auto;
    /*display: contents;*/
}

/* This looks weird when styling the border */

select {
    font-family: light;
    font-size: 16px;
}

textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2.5px;
    border-radius: 5px 5px 0px 5px;
    border: 1px solid var(--form-text-input-border-color);
    font-family: light;
    max-width: 100%;
    box-sizing: border-box;
}

/* 2 Different ways to get a button */

button, input[type="button"] {
    border: 0px;
    padding: 5px;
    font-family: medium;
    font-size: 16px;
    border-radius: 5px;
    color: var(--form-button-text-color);
    background-color: var(--form-button-color);
}

/* 2 Different ways to get a button */

button:hover, input[type=button]:hover {
    border: 0px;
    padding: 5px;
    font-family: medium;
    font-size: 16px;
    border-radius: 5px;
    color: var(--form-button-color);
    background-color: var(--form-button-text-color);
}

/* Reset Styling */

input[type="reset"] {
    border: 0px;
    padding: 5px;
    font-family: medium;
    font-size: 16px;
    border-radius: 5px;
    color: var(--form-button-text-color);
    background-color: var(--form-error-color);
}

/* Reset Styling */

input[type="reset"]:hover {
    border: 0px;
    padding: 5px;
    font-family: medium;
    font-size: 16px;
    border-radius: 5px;
    color: var(--form-error-color);
    background-color: var(--form-button-text-color);
}

/* Submit Styling */

input[type="submit"] {
    border: 0px;
    padding: 5px;
    font-family: medium;
    font-size: 16px;
    border-radius: 5px;
    color: var(--form-submit-text-color);
    background-color: var(--form-submit-color);
}

/* Submit Styling */

input[type="submit"]:hover {
    border: 0px;
    padding: 5px;
    font-family: medium;
    font-size: 16px;
    border-radius: 5px;
    color: var(--form-submit-color);
    background-color: var(--form-submit-text-color);
}

/* 2 Different ways to get a button, alternate style */

button.hollow, input[type=button].hollow {
    border: 2px solid var(--form-button-color);
    padding: 5px;
    font-family: medium;
    font-size: 16px;
    border-radius: 5px;
    color: var(--form-button-color);
    background-color: var(--form-button-text-color);
}

button.hollow:hover, input[type=button].hollow:hover {
    box-shadow: inset 0px 0px 10px var(--form-button-hover-color);
}

/* General Element Styling */

input {
    /*width: 100%;*/
    border-radius: 5px;
    border: 1px solid var(--form-text-input-border-color);
    background-color: var(--form-text-input-color);
    padding: 5px;
    font-family: light;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input:focus, textarea:focus {
    outline: var(--form-text-input-focused-border-glow-color) auto 1px;
}

input[type="text"] {
    background-color: var(--form-text-input-color);
    border: 1px solid var(--form-text-input-border-color);
    border-radius: 3px;
    padding: 5px;
    font-family: light;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="color"] {
    border: 0px;
    padding: 0px;
    width: 16px;
    height: 16px;
}

input[disabled] {
    background-color: var(--form-disabled);
}


label {
    font-family: semibold;
    color: var(--form-label-color-light);
}

@media only screen and (prefers-color-scheme: dark) {
    label {
        color: var(--form-label-color-dark);
    }
}

/* END Default Fieldset Format */