/**
 * Debug UI Styling
 */

#header {
    border-bottom: 5px #333 solid;
}

table th {
    border-bottom: 1px black solid;
}

table tr.selected {
    background-color: yellow;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.lineBottom {
    border-bottom: 1px black solid;
}

input {
    width: 100%;
}

.inputSeperator {
    margin-bottom: 5px;
}

.subInput {
    margin-left: 5px;
    border-left: 1px solid black;
    padding-left: 5px;
}