body {
    margin: 0;
    overflow: hidden;
}

#canvas {
    height: 100%;
    width: 100%;
} 

#overlay {
    height: 100%;
    width: 100%;
    background-color: #00000033;
    position: absolute;
    top: 0;
    left: 0;
}