/*
    Styling for Link Buttons

    Usage:
    <a href="#" class="button">Link</a>
*/

a.button {
    border-radius: 5px;
    border: 0;
    background-color: #333;
    color: #eee !important;
    padding: 7px;
    font-family: semibold;
    text-align: center;
    display: inline-block;
}

a.button:hover, a.button:active {
    background-color: #eee;
    color: #333 !important;
}

a.button.garnet {
    background-color: var(--usc-garnet);
    color: #eee;
}

a.button.garnet:hover, a.button.garnet:active {
    background-color: #eee;
    color: var(--usc-garnet) !important;
}

a.button.acm-blue {
    background-color: var(--acm-blue);
    color: #eee;
}

a.button.acm-blue:hover, a.button.acm-blue:active {
    background-color: #eee;
    color: var(--acm-blue) !important;
}

a.button.accent-1 {
    background-color: var(--accent-1);
    color: #eee !important;
}

a.button.accent-1:hover, a.button.accent-1:active {
    background-color: #eee;
    color: var(--accent-1) !important;
}

a.button.accent-2 {
    background-color: var(--accent-2);
    color: #eee !important;
}

a.button.accent-2:hover, a.button.accent-2:active {
    background-color: #eee;
    color: var(--accent-2) !important;
}

a.button.accent-3 {
    background-color: var(--accent-3);
    color: #eee !important;
}

a.button.accent-3:hover, a.button.accent-3:active {
    background-color: #eee;
    color: var(--accent-3) !important;
}

a.button.accent-4 {
    background-color: var(--accent-4);
    color: #eee !important;
}

a.button.accent-4:hover, a.button.accent-4:active {
    background-color: #eee;
    color: var(--accent-4) !important;
}