/* Miscellanious Styles for the Web Template, mainly things that are useless */

body[flip] {
  transform: rotate(180deg);
}

body[ninja] * {
  background-color: white !important;
  color: white !important;
  background-image: none !important;
  border: 0px !important;
  box-shadow: none !important;
}

@keyframes blink {
  0% {color: #ffffff00}
  50% {color: #ffffffff}
  100% {color: #ffffff00}
}

.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@font-face {
  font-family: vga;
  src: url('/font/vga.ttf');
}

.flashcard.bsod {
  background-color: #1c00b0;
  font-family: vga;
}

.flashcard.bsod p {
  font-family: vga;
  color: white;
  font-size: 16px;
}

.flashcard.bsod .title {
  background-color: #a8a8a8;
  color: #1c00b0;
  width: auto;
}

.flashcard.unauth {
  background: rgb(149,31,31);
  background: linear-gradient(29deg, rgba(149,31,31,1) 0%, rgba(255,0,0,1) 100%);
}
