/*
    Styling for the Navigation Bar that appears on some pages. This used to live in main.css, but has been moved out into this file.

    Usage:
        <nav>
            <div class="container">
                <ul>
                    <li class="title"> Title </li>
                    <li><a href="#">Link</a></li>
            </div>
        </nav>
*/

/* @TODO Reimplement this in a cleaner way */

:root {
    --nav-background-color: #111;
    --nav-title-color: white;
    --nav-fg-color: var(--accent-1);
    --nav-fg-hover-color: white;
    --nav-invalid-fg-color: gray;
}

nav ul {
    list-style-type: none;
    display: inline;
    margin: 0px;
    padding: 0;
}

nav ul li {
    padding: 1px 15px 1px 0px;
    font-family: semibold;
    color: var(--nav-invalid-fg-color);
    display: inline-block;
    font-size: 16px;
}

nav ul li * {
    margin: 5px 0px;
    padding: 0px;
}

/* May change the Link color at some point */
nav ul li a:link, nav ul li a:visited {
    color: var(--nav-fg-color);
    text-decoration: none;
    
}

nav ul li a:hover {
    color: var(--nav-fg-hover-color);
    text-decoration: none;
}

nav {
    background-color: var(--nav-background-color);
    color: var(--nav-invalid-fg-color);
    margin: 0px;
    padding: 5px 0px;
}

.pagenav .title {
    font-family: semibold;
    font-size: 24px;
    display: block;
    float: left;
    padding: 1px 10px 1px 1px;
    color: var(--nav-title-color);
}






