/* Used to style things printed on paper */

/* @TODO Move this into the other stylesheets and delete this file */

@media print {
  .container {
    margin: 0;
    width: 100%;
    overflow: hidden;
  }
  
  section.titlecard {
    min-height: 0;
    background: none !important;
  }
  
  section.titlecard h1, section.titlecard h2, section.titlecard h3, section.titlecard h4, section.titlecard h5, section.titlecard h6, section.titlecard p {
    color: black;
    background: none ;
  }
  
  hr {
    background-color: #aaa;
  }
  
  nav, header #menu, footer #footer-top {
    display: none !important;
  }
  
  header, footer {
    box-shadow: none;
  }
  
  kbd {
    color: black !important;
    background-color: white !important;
  }
  
  figure {
    color: black !important;
    background-color: transparent !important;
  }
}

@media print and monochrome {
  body {
    background-color: white;
    color: black;
  }
  
  
}

@media print and color {
  
}
